
package pages

import "context"
// <script src="/assets/js/htmx.min.js"></script>
func NameFromContext(ctx context.Context) string {
	if name, ok := ctx.Value("name").(string); ok && name != "" {
		return name
	}
	return "World"
}

templ Home(name string) {
    <link href="/assets/styles.css" rel="stylesheet">
    <div class="border rounded-xl text-3xl">Hello { name }</div>
	<div>Hello { NameFromContext(ctx) } (from context)</div>
}

templ NotFound() {
	<div>404</div>
}
